/* Doxa Dev */
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 background:#BBE1FA;
 font-family: "Poppins", serif;
}

.container{
 height:330px;
 width:330px;
 background:#F5F5F5;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
 border-radius:100%;
}

.container::before{
 content:"";
 height:320px;
 width:320px;
 background:#fff;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
 border-radius:100%;
 box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.container .pre-container{
 height:265px;
 width:265px;
 background:#F5F5F5;
 border-radius:100%;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
}

.container .pre-container .centernut{
 height:20px;
 width:20px;
 background:#848484;
 border-radius:100%;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
 border:3px solid #fff;
 z-index:4;
}

.container .pre-container .indicator{
 position:absolute;
 top:49.5%;
 left:50%;
 transform:translate(-50%, -50%);
}

.container .pre-container .indicator div{
 height:5px;
 width:2px;
 background:#848484;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
}

.container .pre-container .indicator div:nth-child(1){
 transform:rotate(30deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(2){
 transform:rotate(60deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(3){
 transform:rotate(90deg) rotateZ(-90deg) translateY(-10px) translateX(100px);
 background:#F5F5F5;
}

.container .pre-container .indicator div:nth-child(4){
 transform:rotate(120deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(5){
 transform:rotate(150deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(6){
 transform:rotate(180deg) rotateZ(180deg) translateY(100px) translateX(-5px);
 background:#F5F5F5;
}

.container .pre-container .indicator div:nth-child(7){
 transform:rotate(210deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(8){
 transform:rotate(240deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(9){
 transform:rotate(270deg) rotateZ(90deg) translateY(-10px) translateX(-110px);
 background:#F5F5F5;
}

.container .pre-container .indicator div:nth-child(10){
 transform:rotate(300deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(11){
 transform:rotate(330deg) translateY(-113px);
}

.container .pre-container .indicator div:nth-child(12){
 transform:rotate(360deg) translateY(-113px);
 background:#F5F5F5;
}

.container .pre-container .sec-hand,
.container .pre-container .min-hand,
.container .pre-container .hour-hand{
 position:absolute;
 height:100%;
 width:100%;
 border-radius:100%;
}

.container .pre-container .sec-hand::before,
.container .pre-container .min-hand::before,
.container .pre-container .hour-hand::before{
 content:"";
 height:115px;
 width:3px;
 background:#4169E1;
 display:block;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -100%);
 border-radius:30px;
}

.container .pre-container .sec-hand::before{
 width:2px;
 background:#FF5C5C;
 border-radius:30px;
}

.container .pre-container .min-hand::before{
 height:100px;
 background:#D6D6D6;
 width:4px;
}

.container .pre-container .hour-hand::before{
 width:6px;
 height:65px;
 background:#848484;
}

.container .pre-container .sec-hand{
 z-index:3;
}

.container .pre-container .min-hand{
 z-index:2;
}

.container .pre-container .hour-hand{
 z-index:1;
}