/* Doxa Dev */
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 background:#7289da;
 font-family: "Poppins", sans-serif;
}

.container{
 padding:30px;
 width:340px;
 background:#fff;
 border-radius:7px;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
 transition:all .2s;
}

.container .title{
 text-align:center;
 font-size:16px;
}

.container .qr-code-box{
 height:0px;
 width:100%;
 margin:auto;
 margin-top:0px;
 border-radius:3px;
 transition:all .2s;
 display:flex;
 align-items:center;
 justify-content:center;
}

.container .qr-code-box.active{
 height:180px;
 margin-top:20px;
 border:1px solid grey;
}

.container .user-input{
 all:unset;
 height:45px;
 width:95%;
 border:1px solid #808080;
 padding-left:15px;
 border-radius:3px;
 margin-top:23px;
}

.container .generate-btn{
 all:unset;
 height:45px;
 width:100%;
 background:#7289da;
 color:#fff;
 display:flex;
 align-items:center;
 justify-content:center;
 margin-top:8px;
 border-radius:3px;
 cursor:pointer;
}