/* Doxa Dev  */
/* Import Google Font - Poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

body{
 background:#7BDAF3;
 font-family: "Poppins", sans-serif;
}

.container{
 padding:40px;
 width:380px;
 background:#E6F8F5;
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
 border-radius:7px;
}

.container .password-box{
 height:45px;
 width:100%;
 background:#fff;
 border-radius:30px;
 border:1px solid #808080;
 padding:25px;
 display:flex;
 align-items:center;
}

.container .password-box h3{
 font-size:14px;
 color:#808080;
 font-weight:400;
}

.container .password-box .copy-btn{
 position:absolute;
 right:63px;
 color:#808080;
 font-size:17px;
 cursor:pointer;
}

.container .password-box .copy-btn span{
 position:absolute;
 font-size:9px;
 top:50%;
 left:50%;
 transform:translate(-50%, -50%);
 margin-left:-8px;
 display:none;
}

.container .checkboxes-box{
 padding:1px;
 margin-top:15px;
}

.container .checkboxes-box .lowercase{
 pointer-events:none;
}

.container .checkboxes-box div{
 height:35px;
 width:100%;
 padding-left:35px;
 display:flex;
 align-items:center;
}

.container .checkboxes-box div span{
 padding-left:20px;
}

.container .checkboxes-box div input{
 -webkit-appearance:none;
 height:18px;
 width:18px;
 border:1px solid #808080;
 border-radius:5px;
 display:flex;
 align-items:center;
 justify-content:center;
 cursor:pointer;
}

.container .checkboxes-box div input::before{
 content:"\f00c";
 font-family:FontAwesome;
 font-size:11px;
 position:absolute;
 color:#fff;
 display:none;
}

.container .checkboxes-box div input:checked{
 background:#7BDAF3;
 border-color:#7BDAF3;
}

.container .checkboxes-box div input:checked::before{
 display:block;
}

.container .password-length{
 padding:2px;
 padding-left:35px;
}

.container .password-length h3{
 font-size:15px;
 color:#808080;
 font-weight:500;
 margin-top:12px;
}

.container .password-length input{
 -webkit-appearance:none;
 height:3px;
 width:70%;
 background:lightgrey;
 position:relative;
 top:-3px;
 cursor:pointer;
 border-radius:3px;
}

.container .password-length input::-webkit-slider-thumb{
 -webkit-appearance:none;
 height:13px;
 width:13px;
 background:#7BDAF3;
 border-radius:100%;
 cursor:pointer;
}

.container .password-length .length-value{
 height:30px;
 width:55px;
 background:#fff;
 display:flex;
 align-items:center;
 justify-content:center;
 border-radius:3px;
 border:1px solid grey;
 position:absolute;
 right:55px;
 margin-top:-25px;
}

.container .generate-btn{
 all:unset;
 height:50px;
 width:260px;
 background:#16A085;
 color:#fff;
 border-radius:30px;
 display:flex;
 align-items:center;
 justify-content:center;
 margin:auto;
 margin-top:30px;
 cursor:pointer;
}

::selection{
 background:rgb(100, 149, 237, 0.8);
 color:#fff;
}
